*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

.wrapper {
    flex-grow: 1; /* Hace que el contenido principal crezca para ocupar el espacio restante */
}





